---
import ReactMarkdown from 'react-markdown';
import {
  getAllArticlesSlug,
  getArticleBySlug
} from '../../services/contentful/articlesData';
export async function getStaticPaths() {
  const slugs = await getAllArticlesSlug();
  return slugs.map(({ fields }) => ({ params: { slug: fields.slug } }));
}

import BaseLayout from '../../layouts/BaseLayout.astro';

const { slug } = Astro.params as { slug: string };
const article = await getArticleBySlug(slug);
---

<BaseLayout title='Articles'>
  <article class='mt-8'>
    <h1
      class='text-3xl md:text-5xl text-primary-light mb-6 font-bold tracking-tight'
    >
      {article.fields.title}
    </h1>
    <!-- TODO: change this text color -->
    <div class='flex w-full mb-6 items-center text-sm text-orange-100'>
      <div class='flex items-center space-x-1'>
        <p>
          {
            Intl.DateTimeFormat('en-US', {
              dateStyle: 'medium'
            }).format(new Date(article.sys.createdAt))
          }
        </p>
        <svg height='8' width='8' class='fill-current'>
          <circle cx='4' cy='4' r='2'></circle>
        </svg>
        <p>{article.fields.readTime} min read</p>
      </div>
      <em class='ml-auto'
        >Last Updated On {
          Intl.DateTimeFormat('en-US', {
            dateStyle: 'medium'
          }).format(new Date(article.sys.updatedAt))
        }
      </em>
    </div>
    <article
      class='prose prose-orange text-gray-400 sm:prose-lg lg:prose-xl prose-headings:text-primary-light prose-code:text-gray-50 prose-code:p-1 prose-code:rounded-sm prose-code:bg-gray-600 prose-strong:text-primary-light prose-blockquote:text-gray-500 prose-pre:prose-code:!bg-transparent'
    >
      <ReactMarkdown children={article.fields.content} />
    </article>
  </article>
</BaseLayout>
