---
import { getDashboardArticles } from '../../services/contentful';
import Card from './Card.astro';
import SectionHeader from './SectionHeader.astro';

const articlesData = await getDashboardArticles();
---

<SectionHeader title='Articles' link='articles' />
<div class='grid md:grid-cols-3 gap-6 mt-4'>
  {
    articlesData.map(({ fields: article }) => (
      <a href={`article/${article.slug}`}>
        <Card>
          <h4 class='text-primary-light line-clamp-3 lg:line-clamp-none text-lg md:text-xl'>
            {article.title}
          </h4>
        </Card>
      </a>
    ))
  }
</div>
