---
import type { ArticlesData } from '../../services/contentful/articlesData';
import Card from './Card.astro';

export type Props = ArticlesData;

const { title, readTime } = Astro.props;
---

<Card>
  <h4
    class='text-primary-light text-lg line-clamp-3 md:text-xl lg:line-clamp-none'
  >
    {title}
  </h4>
</Card>
