---
import GithubIcon from '../../assets/svg/github.astro';
import BlogIcon from '../../assets/svg/blog.astro';
import LinkIcon from '../../assets/svg/link.astro';
import NPMIcon from '../../assets/svg/npm.astro';
import Card from './Card.astro';
import type { ProjectsData } from '../../services/contentful/projectsData';

export type Props = ProjectsData;

const { title, description, deploymentURL, packageURL, blogURL, githubURL } =
  Astro.props;

const iconMappings = {
  githubURL: { Icon: GithubIcon, link: githubURL },
  blogURL: { Icon: BlogIcon, link: blogURL },
  deploymentURL: { Icon: LinkIcon, link: deploymentURL },
  packageURL: { Icon: NPMIcon, link: packageURL }
};

const links = Object.entries(iconMappings)
  .map(([key, value]) => {
    if (Astro.props[key]) return value;
  })
  .filter(Boolean) as {
  Icon: (props: Record<string, unknown>) => unknown;
  link: string;
}[];
---

<Card>
  <h4 class='text-primary-light text-lg md:text-xl'>{title}</h4>
  <p
    class='text-slate-400 text-xs md:text-sm mt-2 md:mt-4 flex-1 lg:line-clamp-none line-clamp-4'
  >
    {description}
  </p>
  <div class='mt-auto flex space-x-2 justify-end w-full'>
    {
      links.map(({ Icon, link }) => (
        <a class='text-primary-light h-4 w-4 hover:text-orange-600' href={link}>
          <Icon />
        </a>
      ))
    }
  </div>
</Card>
