---
import type { BlogsData } from '../services/contentful/blogsData';
import DashboardCard from './DashboardCard.astro';

export type Props = BlogsData;

const { title } = Astro.props;
---

<DashboardCard>
  <h4
    class='text-primary-light text-lg line-clamp-3 md:text-xl lg:line-clamp-none'
  >
    {title}
  </h4>
</DashboardCard>
