<div
  class='w-full rounded-lg p-1 bg-gradient-to-r from-orange-300 to-orange-700 hover:-translate-y-1 hover:transition-all hover:shadow-lg hover:shadow-orange-500'
>
  <div
    class='w-full h-36 md:h-48 dark:bg-primary-dark p-3 rounded-lg flex flex-col overflow-hidden'
  >
    <slot />
  </div>
</div>
