---
import Socials from './Socials.astro';
---

<footer
  class='flex w-full flex-col items-center py-4 text-primary transition-all delay-75 ease-in-out dark:text-primary-light md:flex-row mt-8'
>
  <span class='mb-3 md:mb-0'>
    <a href='https://mananjoshi.me' class='hover:text-orange-600'>Manan Joshi</a
    > &#169;{' '}
    {new Intl.DateTimeFormat('en-US', { year: 'numeric' }).format(Date.now())}
  </span>
  <div class='md:ml-auto'>
    <Socials />
  </div>
</footer>
