---
const { url } = Astro;

const links = [
  { text: 'Home', href: '/', highlighted: url.pathname === '/' },
  { text: 'Journey', href: '/journey', highlighted: url.pathname === '/work' },
  {
    text: 'Articles',
    href: '/articles',
    highlighted: url.pathname === '/articles'
  },
  {
    text: 'Projects',
    href: '/projects',
    highlighted: url.pathname === '/projects'
  }
];
---

<header
  class='hidden w-full font-normal md:flex md:items-center md:pt-6 md:pb-4'
>
  <nav
    class='flex items-center space-x-4 text-lg text-primary transition-colors delay-75 ease-in-out'
  >
    {
      links.map((link) => (
        <a
          class={`hover:text-orange-600 ${
            link.highlighted
              ? 'dark:text-primary-light font-semibold'
              : 'font-normal dark:text-slate-400'
          }`}
          href={link.href}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
</header>
