---
import Menu from './Menu';
import { links as Links } from '../utils/constants';

const { url } = Astro;
const links = Links(url);
---

<header class='w-full font-normal flex items-center pt-6 pb-4 mb-8'>
  <nav
    class='md:flex md:items-center space-x-4 text-lg text-primary transition-colors delay-75 ease-in-out hidden'
  >
    {
      links.map((link) => (
        <a
          class={`hover:text-orange-600 ${
            link.highlighted
              ? 'dark:text-primary-light font-semibold'
              : 'font-normal dark:text-slate-400'
          }`}
          href={link.href}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
  <Menu url={url} client:only='react' />
</header>
